.scroll-row {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 20px;
    scroll-behavior: smooth;
}
.scroll-row::-webkit-scrollbar {
    height: 8px;
}
.scroll-row::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
.category {
    margin-bottom: 30px;
}
